<div class="container">
  <div class="d-flex justify-content-between">
    <h5>Add new student</h5>

    <button mat-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div style="height:450px;">
    <form #form="ngForm" (submit)="addStudent(form)" autocomplete="off">

      <!--First Name control-->
      <div class="row">
        <mat-form-field>
          <input matInput required minlenght="2" type="text"
                 name="FirstName"
                 placeholder="First Name"
                 #FirstName="ngModel"
                 [(ngModel)]="studentService.formData.FirstName" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="text-left text-danger"
             *ngIf="FirstName.invalid && FirstName.touched">
          Please enter first name.
        </div>
      </div>

      <!--Middle Name control-->
      <div class="row">
        <mat-form-field>
          <input matInput minlenght="2" type="text"
                 name="MiddleName"
                 placeholder="Middle Name"
                 #MiddleName="ngModel"
                 [(ngModel)]="studentService.formData.MiddleName" />
          <mat-icon matSuffix>person_outline</mat-icon>
        </mat-form-field>
      </div>

      <!--Last Name control-->
      <div class="row">
        <mat-form-field>
          <input matInput required minlenght="2" type="text"
                 name="LastName"
                 placeholder="Last Name"
                 #LastName="ngModel"
                 [(ngModel)]="studentService.formData.LastName" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="text-left text-danger"
             *ngIf="LastName.invalid && LastName.touched">
          Please enter last name.
        </div>
      </div>

      <!--Gender control-->
      <div class="row">
        <mat-form-field>
          <mat-select required type="text"
                      name="Gender"
                      placeholder="Gender"
                      #Gender="ngModel"
                      [(ngModel)]="studentService.formData.Gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="text-left text-danger"
             *ngIf="Gender.invalid && Gender.touched">
          Please select a gender.
        </div>
      </div>

      <!--ClassId control-->
      <div class="row">
        <mat-form-field>
          <mat-select required type="text"
                      name="ClassId"
                      placeholder="Class"
                      #ClassId="ngModel"
                      [(ngModel)]="studentService.formData.ClassId">
            <mat-option *ngFor ="let class of classes" [value]="class.id">
            {{class.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="text-left text-danger"
             *ngIf="ClassId.invalid && ClassId.touched">
          Please select a class.
        </div>
      </div>

      <!--Date of Birth control-->
      <div class="row">
        <mat-form-field>
          <input matInput required [matDatepicker]="picker" type="text"
                 name="DateOfBirth"
                 placeholder="Date of Birth"
                 #DateOfBirth="ngModel"
                 [(ngModel)]="studentService.formData.DateOfBirth" />

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="text-left text-danger"
             *ngIf="DateOfBirth.invalid && DateOfBirth.touched">
          Please select date of birth.
        </div>
      </div>


      <button class="mt-4" mat-raised-button
              color="primary" type="submit"
              [disabled]="form.invalid">
        Add
      </button>

    </form>
  </div>
</div>
