<h1>Hello, welcome to Student Portal!</h1>
<p>This portal allows you manage students in your school. Some of the things you can do include:</p>
<ul>
  <li>View all students in a paginated grid format.</li>
  <li>Add, edit and delete students.</li>
  <li>Filter / Search for specific students.</li>
  <li>View student distributions by gender, class, and so on...</li>
</ul>
<p>To help you get started, you have to:</p>
<ul>
  <li>Click on <strong>Register</strong> link in the menu bar, then register with a valid email address and a secure password.</li>
  <li>Check you email box and click on the link sent to you in order to confirm your email.</li>
  <li>Once you confirm your email, you can then login to Student Portal and start to explore.</li>
</ul>
