<div class="section-container">
  <div class="cards">
    <div class="card-deck">
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Total Number of Students</h5>
        </div>
        <div class="card-body">
          <div class="dashbord blue-background">
            <div class="title-section">
              <p><strong>Students</strong></p>
            </div>
            <div class="icon-text-section">
              <div class="icon-section">
                <i class="fa fa-road" aria-hidden="true"></i>
              </div>
              <div class="text-section">
                <h1><span class="counter">{{totalstudent}}</span></h1>
                <span>Total Number</span>
              </div>
              <div style="clear:both;"></div>
            </div>
            <div class="detail-section">
              <div class="centred-item">
                <p>View Details</p>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Gender Distribution</h5>
        </div>
        <div class="card-body">
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme">
          <h5>Gender Distribution by Class</h5>
        </div>
        <div class="card-body">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<div class="centred-div-flex-container">
  <div>
    <button mat-raised-button (click)="OpenAddStudentDialog()">Add Student</button>
  </div>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..." />
    </mat-form-field>
  </div>
</div>

<div class="mat-elevation-z8">
  <div style="overflow:auto;">
    <mat-table [dataSource]="students" matSort>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

      <!-- Registration Number Column -->
      <ng-container matColumnDef="RegNumber">
        <mat-header-cell *matHeaderCellDef> Reg. Number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.regNumber}} </mat-cell>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="FirstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
      </ng-container>

      <!-- Middle Name Column -->
      <ng-container matColumnDef="MiddleName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Middle Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.middleName}} </mat-cell>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="LastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="Gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
      </ng-container>

      <!-- Class Column -->
      <ng-container matColumnDef="ClassName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.className}} </mat-cell>
      </ng-container>

      <!-- D.O.B. Column -->
      <ng-container matColumnDef="DateOfBirth">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </mat-cell>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="Options">
        <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="openEditStudentDialog(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteStudent(row.id)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>


<!--<h3 id="tableLabel">Students</h3>

<p *ngIf="!students"><em>Loading...</em></p>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>
<button mat-button (click)="OpenAddStudentDialog()">Add Student</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="students">
  <thead>
    <tr>
      <th>Reg. Number</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>D.O.B.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.regNumber }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.middleName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.gender }}</td>
      <td>{{ student.dateOfBirth }}</td>
    </tr>
  </tbody>
</table>-->
