<!--<h3 id="tableLabel">Students</h3>-->

<p *ngIf="!students"><em>Loading...</em></p>

<!--<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>-->
<button mat-button (click)="OpenAddStudentDialog()">Add Student</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="students">
  <thead>
    <tr>
      <th>Reg. Number</th>
      <th>First Name</th>
      <th>Middle Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>D.O.B.</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.regNumber }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.middleName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.gender }}</td>
      <td>{{ student.dateOfBirth }}</td>
    </tr>
  </tbody>
</table>


